body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--line-color);
}

html {
  --primary-color: #202e31;
  --text-color: #333;
  --text-soft-color: #7d7d7d;
  --text-inverse-color: #fff;
  --line-color: #ddd;
}
